<h3>My Posts</h3>

<ul>
	<% @posts.each do |post| %>
		<li> <%= post.body %>
			<ul><%= post.circles.nil? ? "Shared With:" : "" %>
				<% post.circles.each do |circle| %>
					<li><%= circle.title %></li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>

<h4><%= link_to "Home Page", user_url(@user) %></h4>